.profile-wrapper {
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    height: 100vh;
    padding-top: 40px;
    padding-right: 200px;
    padding-left: 200px;
    display: grid;
    justify-content: center;
    grid-template-columns: 300px;
    grid-template-rows: 100px 100px 500px;
}

.profile-message {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    grid-row: 1;
}

.frame-position {
    margin-left: 30px;
    text-align: center;
    grid-row: 2;
    width: 240px;
    height: 300px;
}

.form-wrapper {
    display: grid;
    grid-row: 3;
    grid-template-rows: 220px 30px 15px 30px 30px 15px 30px 30px 15px 30px 30px 15px 30px 30px 15px 30px 30px 15px 30px 15px;
    grid-template-columns: 50px 200px 200px;
    /*zadnji 30 je i za canpxcel changes i za submit changes*/
}

.first-name-label {
    grid-row: 4;
    grid-column: 2;
    padding-left: 40px;
}

.first-name-input {
    grid-row: 5;
    grid-column: 2;

}

.last-name-label {
    grid-row: 7;
    grid-column: 2;


}

.last-name-input {
    grid-row: 8;
    grid-column: 2;


}

.username-label {
    grid-row: 10;
    grid-column: 2;


}

.username-input {
    grid-row: 11;
    grid-column: 2;


}

.email-label {
    grid-row: 13;
    grid-column: 2;

}

.email-input {
    grid-row: 14;
    grid-column: 2;

}

.password-label {
    grid-row: 16;
    grid-column: 2;

}

.password-input {
    grid-row: 17;
    grid-column: 2;

}

.button-submit-input {
    grid-row: 19;
    grid-column: 2;
}
.button-image-poistion{
    grid-row: 2;
    grid-column: 2;
}
.inputfile {
	width: 0px;
	height: 0px;
	opacity: 0;
	overflow: hidden;
}
.inputfile + label {
    background-color: #0095ff;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}
